
{% load staticfiles %}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; Charset=gb2312">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>半仙世界- 一个全技能爱好者个人博客网站</title>
    <link rel="shortcut icon" href="{%  static 'blog/images/Logo_40.png' %}" type="image/x-icon">
    <!--Layui-->
    <link href="{%  static 'blog/plug/layui/css/layui.css' %}" rel="stylesheet" />
    <!--font-awesome-->
    <link href="{%  static 'blog/plug/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
    <!--全局样式表-->
    <link href="{%  static 'blog/css/global.css' %}" rel="stylesheet" />
    <!-- 本页样式表 -->
    <link href="{%  static 'blog/css/home.css' %}" rel="stylesheet" />
</head>
<body>
    <!-- 导航 -->
    <nav class="blog-nav layui-header">
        <div class="blog-container">
            <!-- QQ互联登陆 -->
            <!--
            <a href="javascript:;" class="blog-user">
                <i class="fa fa-qq"></i>
            </a>
            -->
            <a href="javascript:;" class="blog-user layui-hide">
                <img src="{%  static 'blog/images/me.jpg' %}" alt="Absolutely" title="me" />
            </a>
            <!-- 不落阁 -->
            <a class="blog-logo" href="/">半仙世界</a>
            <!-- 导航菜单 -->
            <ul class="layui-nav" lay-filter="nav">
                <li class="layui-nav-item layui-this">
                    <a href="/"><i class="fa fa-home fa-fw"></i>&nbsp;网站首页</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/blog/articles/"><i class="fa fa-file-text fa-fw"></i>&nbsp;文章专栏</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/blog/resourses/"><i class="fa fa-tags fa-fw"></i>&nbsp;资源分享</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/blog/timelines/"><i class="fa fa-hourglass-half fa-fw"></i>&nbsp;点点滴滴</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/blog/aboutme/"><i class="fa fa-info fa-fw"></i>&nbsp;关于本站</a>
                </li>
            </ul>
            <!-- 手机和平板的导航开关 -->
            <a class="blog-navicon" href="javascript:;">
                <i class="fa fa-navicon"></i>
            </a>
        </div>
    </nav>
    <!-- 主体（一般只改变这里的内容） -->
    <div class="blog-body">
        <!-- canvas -->
        <canvas id="canvas-banner" style="background: #393D49;"></canvas>
        <!--为了及时效果需要立即设置canvas宽高，否则就在home.js中设置-->
        <script type="text/javascript">
            var canvas = document.getElementById('canvas-banner');
            canvas.width = window.document.body.clientWidth - 10;//减去滚动条的宽度
            if (screen.width >= 992) {
                canvas.height = window.innerHeight * 1 / 3;
            } else {
                canvas.height = window.innerHeight * 2 / 7;
            }
        </script>
        <!-- 这个一般才是真正的主体内容 -->
        <div class="blog-container">
            <div class="blog-main">
                <!-- 网站公告提示 -->
                <div class="home-tips shadow">
                    <i style="float:left;line-height:17px;" class="fa fa-volume-up"></i>
                    <div class="home-tips-container">
                        <span style="color: #009688">本博客的后台管理也正在制作，为大家准备了游客专用账号！</span>
                        <span style="color: red">数据库导入公告2</span>
                        <span style="color: red">数据库导入公告3" target="_blank" style="color:#01AAED">点我前往</a></span>
                        <span style="color: #009688">不落阁 &nbsp;—— &nbsp;一个全能爱好者的个人博客，新版网站采用Layui为前端框架，目前正在建设中！</span>
                    </div>
                </div>
                <!--左边文章列表-->
                <div class="blog-main-left">
				
				{% for x in blogs %}
                    <div class="article shadow">
                        <div class="article-left">
                            <img src="{{ x.pic.url }}" alt="" />
                        </div>
                        <div class="article-right">
                            <div class="article-title">
                                <a href="/blog/detail/{{x.id}}/">{{ x.title }}</a>
                            </div>
                            <div class="article-abstract">
                                {{ x.summary}}
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="article-footer">
                            <span><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{ x.pub_date.date }}</span>
                            <span class="article-author"><i class="fa fa-user"></i>&nbsp;&nbsp;actanble</span>
                            <span><i class="fa fa-tag"></i>&nbsp;&nbsp;<a href="/blog/tag/{{x.column.id}}/">{{ x.column.name }}</a></span>
							  <span><i class="fa fa-tag"></i>&nbsp;&nbsp;<a href="/blog/lanmu/{{ x.column.lanmu.id }}/">{{ x.column.lanmu.name }}</a></span>
                            <span class="article-viewinfo"><i class="fa fa-eye"></i>&nbsp;{{ x.comment_num }}</span>
                            <span class="article-viewinfo"><i class="fa fa-commenting"></i>&nbsp;{{ x.see_num }}</span>
                        </div>
                    </div>
					{% endfor %}
     
                </div>
                <!--右边小栏目-->
                <div class="blog-main-right">
                    <div class="blogerinfo shadow">
                        <div class="blogerinfo-figure">
                            <img src="{%  static 'blog/images/me.jpg' %}" alt="me" />
                        </div>
                        <p class="blogerinfo-nickname"> actanble </p>
                        <p class="blogerinfo-introduce">一个 Gamer, LOL, DNF, 疾风之刃玩家</p>
                        <p class="blogerinfo-location"><i class="fa fa-location-arrow"></i>&nbsp;湖北 - 武汉</p>
                        <hr />
                        <div class="blogerinfo-contact">
                            <a target="_blank" title="QQ交流" href="javascript:layer.msg('启动QQ会话窗口')"><i class="fa fa-qq fa-2x"></i></a>
                            <a target="_blank" title="给我写信" href="javascript:layer.msg('启动邮我窗口')"><i class="fa fa-envelope fa-2x"></i></a>
                            <a target="_blank" title="新浪微博" href="javascript:layer.msg('转到你的微博主页')"><i class="fa fa-weibo fa-2x"></i></a>
                            <a target="_blank" title="码云" href="javascript:layer.msg('转到你的github主页')"><i class="fa fa-git fa-2x"></i></a>
                        </div>
                    </div>
                    <div></div><!--占位-->
                    <div class="article-category shadow">
                        <div class="article-category-title">分类导航</div>
                        <!-- 点击分类后的页面和artile.html页面一样，只是数据是某一类别的 -->
						{% for lm in right.lms %}
                        <a href="/blog/lanmu/{{lm.id}}/">{{ lm.lanmu }}</a>
                        {% endfor %}
						<div class="clear"></div>
                    </div>
					
					{% if right.s_blogs %}
                    <div class="blog-module shadow">
                        <div class="blog-module-title">相似文章</div>						
                        <ul class="fa-ul blog-module-ul">
							{% for x in right.s_blogs %}
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="/blog/detail/{{ x.id }}/">{{ x.title }}</a></li>
							{% endfor %}
						</ul>
                    </div>
					{% endif %}
					
                    <div class="blog-module shadow">
                        <div class="blog-module-title">随便看看</div>
                        <ul class="fa-ul blog-module-ul">
								{% for x in right.rand_blogs %}
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="/blog/detail/{{ x.id }}/">{{ x.title }}</a></li>
								{% endfor %}
                        </ul>	
                    </div>
					
					<div class="blog-module shadow">
                        <div class="blog-module-title">标签</div>		
							<ul class="blogroll">
								{% for x in right.all_tags %}
								<span><a target="_blank" href="/blog/tag/{{ x.id }}/" title="Layui">{{x.name}}</a></span>   |
								{% endfor %}
							</ul>						
                    </div>					
						
                    <div class="blog-module shadow">
                        <div class="blog-module-title">行为日志</div>
                        <dl class="footprint">
                            <dt>2015年03月12日</dt>
                            <dd>博客上线, 并且不予维护</dd>
                        </dl>
                    </div>

                    <div class="blog-module shadow">
                        <div class="blog-module-title">后台记录</div>
                        <dl class="footprint">
                        
                            <dt>2017年08月16日</dt>
                            <dd>上来看看</dd>
                        
                        </dl>
                    </div>
                    <div class="blog-module shadow">
                        <div class="blog-module-title">友情链接</div>
                        <ul class="blogroll">
                            <li><a target="_blank" href="http://aljs.pw" title="Layui"></a>本页</li>
                            <li><a target="_blank" href="http://www.aljs.pw" title="Layui"></a>博客</li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <footer class="blog-footer">
        <p><span>Copyright</span><span>&copy;</span><span>2017</span><a href="http://www.lyblogs.cn">半仙世界</a><span>Design By actanble</span></p>
        <p><a href="http://www.miibeian.gov.cn/" target="_blank">备案号无|忘记了</a></p>
    </footer>
	
    <!--侧边导航
    <ul class="layui-nav layui-nav-tree layui-nav-side blog-nav-left layui-hide" lay-filter="nav">
        <li class="layui-nav-item layui-this">
            <a href="/"><i class="fa fa-home fa-fw"></i>&nbsp;网站首页</a>
        </li>
        <li class="layui-nav-item">
            <a href="article.html"><i class="fa fa-file-text fa-fw"></i>&nbsp;文章专栏</a>
        </li>
        <li class="layui-nav-item">
            <a href="resource.html"><i class="fa fa-tags fa-fw"></i>&nbsp;资源分享</a>
        </li>
        <li class="layui-nav-item">
            <a href="timeline.html"><i class="fa fa-road fa-fw"></i>&nbsp;点点滴滴</a>
        </li>
        <li class="layui-nav-item">
            <a href="about.html"><i class="fa fa-info fa-fw"></i>&nbsp;关于本站</a>
        </li>
    </ul>
	-->
    <!--分享窗体-->
    <div class="blog-share layui-hide">
        <div class="blog-share-body">
            <div style="width: 200px;height:100%;">
                <div class="bdsharebuttonbox">
                    <a class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                    <a class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                    <a class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    <a class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                </div>
            </div>
        </div>
    </div>
    <!--遮罩-->
    <div class="blog-mask animated layui-hide"></div>
    <!-- layui.js -->
    <script src="{%  static 'blog/plug/layui/layui.js'%} "></script>
    <!-- 全局脚本 -->
    <script src="{%  static 'blog/js/global.js' %}"></script>
    <!-- 本页脚本 -->
    <script src="{%  static 'blog/js/home.js' %}"></script>
</body>
</html>